body{
  background-image: linear-gradient(to right bottom, #e8c771, #e8ce80, #e9d58f, #eadc9e, #ebe2ad, #ebdeaa, #ecdaa7, #ecd6a4, #ecc591, #edb482, #eea176, #ee8e70);  
  height: 100vh;
  scroll-behavior: smooth;
  margin: auto;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
html{
  width: 100%;
  height: 100%;
  margin: auto;
}
.todos-list{
  list-style: none;
  padding: 1rem;
  }
  #todos-ul{
    padding: 1rem;
    margin: 1rem;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
.removeBtn {
  background-color: transparent;
  border-radius: 5%;
  border-style: none;
  }
.toggleBtn{
  display: inline-block;
  background-color: transparent;
  border:none;
}
img, svg{
  pointer-events: none;
}
.editBtn{
  background-color: transparent;
  border: none;
}
.display-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.display-wrapper h1{
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1.5rem;
  font-size: 50px;
  font-weight: bold;
}
.display{
  background-color: rgb(219, 197, 182);
  padding: 5rem;
  height: fit-content;
  border-radius: 5%;
  box-shadow: 0px 4px 16px 6px rgba(255, 92, 20, 0.6);
  margin-bottom: 3rem;
}